<mat-card class="main-card">
    <h3>Nueva sesión</h3>
    <p>Crea una nueva sesion para poder compartir con sus amigos y dejar que la aplicacion adminstre los naipes</p>
    <button mat-raised-button class="main-btn" color="primary" (click)="createSession()">Crear</button>
  </mat-card>
  <mat-card class="main-card">
    <h3>Unirse</h3>
    <p>Puede unirse a una sesion ya existente, elegir su equipo y dear que la aplicacion administre su juego</p>
    <button mat-raised-button color="primary" (click)="joinSession()">Unirse</button>
  </mat-card>