<div class="cards">
    <mat-card class="play-card col-red">
        <span>2</span>
        &diams;
    </mat-card>
    
    <mat-card class="play-card col-red">
        <span>A</span>
        &spades;
    </mat-card>
    
    <mat-card class="play-card col-red">
        <span>J</span>
        &clubs;
    </mat-card>
    
    <mat-card class="play-card">
        <span>8</span>
        &hearts;
    </mat-card>

    <mat-card class="play-card col-red">
        <span>A</span>
        &spades;
    </mat-card>
    
    <mat-card class="play-card col-red">
        <span>J</span>
        &clubs;
    </mat-card>
    
    <mat-card class="play-card">
        <span>8</span>
        &hearts;
    </mat-card>
</div>

